<%= form_for(@site) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Enter site name here..." %>
    <%= f.text_area :address, placeholder: "Enter Address of the site here..." %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>